# */bin/
# */obj/
# */.vs/

# .NET Core
bin/
obj/
*.user
*.suo
.vs/

# Angular
node_modules/
dist/
.angular/
.vscode/
npm-debug.log

# Visual Studio
*.sln.docstates
*.suo
*.dbmdl
*.jfm
*.pfx
*.publishsettings