<h4>Internal Server Error - refreshing the page will make the error disapper</h4>
@if(error) {
    <h5 class="text-danger">Error - {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then angular is proprably not to blame</p>
    <p>What to do next?</p>
    <ol>
        <li>open Chrome dev tool! then check the failing request in the network tab</li>
    </ol>
    <p style="font-weight: bold;">Following is the stack trace</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
}